{% extends "base.html" %}

{% block content %}
  <h1>BLOG</h1>
  <form method='POST'>
      <label>Title Your Blog:
          <input type="text" name='title'/>{{title}}
      </label>
      <br>
      <br>
      <label for="blog">New Blog Post:</label>
      <br>
      <textarea id="blog" name="body" rows ="6" cols="30">Type Blog Here</textarea>{{body}}

      <input type="submit" value='Submit Blog'/>
  </form>

  <hr/>

  {% if blogs|length ==0 %}
  <p>No blogs have been posted yet</p>
  {% endif %}
{% endblock%}